In [1]:
import pandas as pd
df = pd.read_csv('daily_activity.csv')
df

           Date  Work  School/Study  Leisure/Break  Chore  Sleep  Rating
0    2024-11-20     3             7              4      3      5     Bad
1    2024-11-21     0             9              3      5      7  Normal
2    2024-11-22     0             7              4      4      9    Good
3    2024-11-19     7             2              3      3      4     NaN
4    2024-11-18     3             2              2      4      8     NaN
..          ...   ...           ...            ...    ...    ...     ...
98   2024-08-16     6            10              5      4      6     NaN
99   2024-08-15     2             2              0      1      5     NaN
100  2024-08-14     2            10              3      3      9     NaN
101  2024-08-13     9             9              5      2      7     NaN
102  2024-08-12     6             1              1      1     10     NaN

[103 rows x 7 columns]

In [3]:
df = df.drop(columns=['Date', 'Sleep'])
df

     Work  School/Study  Leisure/Break  Chore  Rating
0       3             7              4      3     Bad
1       0             9              3      5  Normal
2       0             7              4      4    Good
3       7             2              3      3     NaN
4       3             2              2      4     NaN
..    ...           ...            ...    ...     ...
98      6            10              5      4     NaN
99      2             2              0      1     NaN
100     2            10              3      3     NaN
101     9             9              5      2     NaN
102     6             1              1      1     NaN

[103 rows x 5 columns]

In [33]:
df = pd.read_csv('daily_activity.csv')
df

,Work,School/Study,Leisure/Break,Chore,Performance Rating,Leisure Rating,Unnamed: 6
0,3,7,4,3,3,1,NaN
1,0,9,3,5,2,1,NaN
2,0,7,4,4,2,2,NaN
3,7,2,3,3,3,2,NaN
4,3,2,2,4,1,2,NaN
...,...,...,...,...,...,...,...
96,6,10,5,4,0,0,NaN
97,2,2,0,1,0,0,NaN
98,2,10,3,3,2,0,NaN
99,9,9,5,2,0,0,NaN
100,6,1,1,1,2,1,NaN

In [35]:
print(df.isnull().sum())

Work                    0
School/Study            0
Leisure/Break           0
Chore                   0
Performance Rating      0
Leisure Rating          0
Unnamed: 6            101
dtype: int64

In [37]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df[['Work', 'School/Study', 'Leisure/Break', 'Chore']])

In [39]:
from sklearn.model_selection import train_test_split

# Features
X = df[['Work', 'School/Study', 'Leisure/Break', 'Chore']]

# Targets
y_performance = df['Performance Rating']
y_leisure = df['Leisure Rating']

# Train-test split
X_train, X_test, y_performance_train, y_performance_test = train_test_split(X, y_performance, test_size=0.2, random_state=42)
X_train, X_test, y_leisure_train, y_leisure_test = train_test_split(X, y_leisure, test_size=0.2, random_state=42)

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Performance Rating Model
rf_performance = RandomForestRegressor(random_state=42)
rf_performance.fit(X_train, y_performance_train)

# Predictions
y_rf_performance_pred = rf_performance.predict(X_test)

# Evaluate
print("Performance Rating RMSE (RF):", mean_squared_error(y_performance_test, y_rf_performance_pred, squared=False))

# Leisure Rating Model
rf_leisure = RandomForestRegressor(random_state=42)
rf_leisure.fit(X_train, y_leisure_train)

# Predictions
y_rf_leisure_pred = rf_leisure.predict(X_test)

# Evaluate
print("Leisure Rating RMSE (RF):", mean_squared_error(y_leisure_test, y_rf_leisure_pred, squared=False))

Performance Rating RMSE (RF): 0.7526777594188695
Leisure Rating RMSE (RF): 0.6018226285131495

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
C:\Users\darel\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [100]:
new_data = [[0, 0, 0, 0]]  # Example input: Work, School/Study, Leisure/Break, Chore
performance_rating = performance_model.predict(new_data)[0]
leisure_rating = leisure_model.predict(new_data)[0]

print(f"Predicted Performance Rating: {performance_rating}")
print(f"Predicted Leisure Rating: {leisure_rating}")

Predicted Performance Rating: 2.2696921063913855
Predicted Leisure Rating: 1.7871012635756158

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [275]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Features
X = df[['Work', 'School/Study', 'Leisure/Break', 'Chore']]

# Targets
y_performance = df['Performance Rating']

# Train-test split
X_train, X_test, y_performance_train, y_performance_test = train_test_split(X, y_performance, test_size=0.4, random_state=42)

In [401]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import joblib

# Features
X = df[['Work', 'School/Study', 'Leisure/Break', 'Chore']]

# Targets
y_performance = df['Performance Rating']


# Train-test split
X_train, X_test, y_performance_train, y_performance_test = train_test_split(X, y_performance, test_size=0.3, random_state=35)

# Performance Rating Model
rf_performance = RandomForestRegressor(random_state=31)
rf_performance.fit(X_train, y_performance_train)
joblib.dump(rf_performance, 'model_rf_performance.pkl')

# Predictions
y_rf_performance_pred = rf_performance.predict(X_test)

# Evaluate
print("Performance Rating RMSE (RF):", mean_squared_error(y_performance_test, y_rf_performance_pred, squared=False))

Performance Rating RMSE (RF): 0.572724107425038

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [279]:
# Example input: Work, School/Study, Leisure/Break, Chore
new_data = [[7, 4, 1, 2]]

# Predict performance rating
performance_rating = rf_performance.predict(new_data)[0]

print(f"Predicted Performance Rating: {performance_rating}")

Predicted Performance Rating: 2.63

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [348]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import joblib

# Features
X = df[['Work', 'School/Study', 'Leisure/Break', 'Chore']]

# Targets
y_leisure = df['Leisure Rating']

# Train-test split
X_train, X_test, y_leisure_train, y_leisure_test = train_test_split(X, y_leisure, test_size=0.4, random_state=37)

# Leisure Rating Model
rf_leisure = RandomForestRegressor(random_state=39)
rf_leisure.fit(X_train, y_leisure_train)
joblib.dump(rf_leisure, 'model_rf_leisure.pkl')

# Predictions
y_rf_leisure_pred = rf_leisure.predict(X_test)

# Evaluate
print("Leisure Rating RMSE (RF):", mean_squared_error(y_leisure_test, y_rf_leisure_pred, squared=False))

Leisure Rating RMSE (RF): 0.5390008823921462

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [335]:
# Example input: Work, School/Study, Leisure/Break, Chore
new_data = [[0, 4, 5, 3]]

# Predict performance rating
leisure_rating = rf_leisure.predict(new_data)[0]

print(f"Predicted Performance Rating: {leisure_rating}")

Predicted Performance Rating: 2.52

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [407]:
leisure_model = joblib.load('model_rf_leisure.pkl')
predi = leisure_model.predict([[7, 4, 2, 2]])
predi

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.73])

In [405]:
performance_model = joblib.load('model_rf_performance.pkl')
predi1 = performance_model.predict([[7, 4, 2, 2]])
predi1

C:\Users\darel\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2.27])